<div id='shadow-container'>
	<div id='auth-menu'>
	<h1 id='auth-header'>Сброс пароля</h1>
	<p id='description-of-action'>Введите имя пользователя или email, указанный при регистрации и мы отправим вам письмо с сылкой для сброса пароля</p>
	<form id='auth-form' action='/user/password-reset' method='POST'>
		{% csrf_token %}
		<input type="text" name="email" id='ident' class='auth-field' placeholder="Эл. почта или имя пользователя">
		<button id='submit-button'>Отправить</button>
	</form>
</div>
</div>